<!--
  Copyright 2022 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="/static/govulncheck.css" rel="stylesheet">
  <title>govulncheck Results</title>
</head>
<body>
{{range .}}
  <h2>{{.ID}}</h2>
  <table>
    <tr>
      <td>Package</td>
      <td>{{.PkgPath}}</td>
    </tr>
    <tr>
      <td>Your version</td>
      <td>{{.CurrentVersion}}</td>
    </tr>
    <tr>
      <td>Fixed version</td>
      <td>{{.FixedVersion}}</td>
    </tr>
    <tr>
      <td>Reference</td>
      <td>{{.Reference}}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{.Details}}</td>
    </tr>
  </table>
  {{range .Stacks}}
    <details>
      <summary>{{.Summary}}</summary>
      <ul>
        {{range .Stack}}
          <li>{{.Function | funcName}}</li>
        {{end}}
      </ul>
    </details>
  {{end}}
{{else}}
  <div>No vulnerabilities found.</div>
{{end}}
</body>
</html>
