<!--
  Copyright 2021 The Go Authors. All rights reserved.
  Use of this source code is governed by a BSD-style
  license that can be found in the LICENSE file.
-->

<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<link href="/static/worker.css" rel="stylesheet">
<title>{{.Namespace}} Vuln Worker</title>

<body>
  <h1>{{.Namespace}} Vuln Worker</h1>
  <p>All times in America/New_York.</p>
</body>
</html>



