{{- /*
This template is a text template used to communicate to the
user the environment used for vulnerability analysis, namely
the Go version, govulncheck version, vuln dbs with their last
modified timestamp.
*/ -}}
govulncheck is an experimental tool. Share feedback at https://go.dev/s/govulncheck-feedback.

Using {{template "Go" .}}{{template "Version" .}}with
vulnerability data from {{.DataSource}}{{template "LastModified" .}}.
{{/* This is the end of the main template */ -}}

{{- define "Go" -}}
  {{if .GoVersion}}{{.GoVersion}} and {{end}}
{{- end -}}

{{- define "Version" -}}
  {{if .Version}}{{.Version}} {{else}}govulncheck {{end}}
{{- end -}}

{{- define "LastModified" -}}
  {{if .LastModified}} (last modified {{.LastModified}}){{end}}
{{- end -}}
