{{define "govulncheck-intro"}}{{/*
This template is a text template used to communicate to the
user the environment used for vulnerability analysis, namely
the Go version, govulncheck version, vuln dbs with their last
modified timestamp.
*/ -}}
  govulncheck is an experimental tool. Share feedback at https://go.dev/s/govulncheck-feedback.
  {{- "\n\n" -}}
  Using
  {{- if .GoVersion}} {{block "Go" .GoVersion}}{{.}}{{end}} and{{end}}
  {{- if .ScannerName}} {{block "Scanner" .ScannerName}}{{.}}{{end}}
  {{- if .ScannerVersion}}@{{.ScannerVersion}}{{end}} with {{end -}}
  vulnerability data from {{.DB}}
  {{- if .DBLastModified}} (last modified {{.DBLastModified}}){{end}}.
  {{- "\n" -}}
{{- end}}{{/*Preamble*/}}

{{define "govulncheck-summary"}}{{/*
This template is a text template used to print out vulncheck output.
It consists of three sections showing:
1) The number of vulnerabilities detected.
2) Callstacks detected for each pair of module and vulnerability.
3) Vulnerabilities that are only imported but not called.
*/ -}}
  {{- template "VulnCount" . -}}
  {{- template "Vulnerability" .Affected -}}
  {{- template "Informational" . -}}
  {{- template "Vulnerability" .Unaffected -}}
{{- end}}{{/*Summary*/}}

{{define "VulnCount" -}}
  {{- if eq (len .Affected) 0 -}}
    No vulnerabilities found.
  {{- else -}}
    Your code is affected by {{template "Value" (len .Affected)}}
    {{- if eq (len .Affected) 1}} vulnerability{{else}} vulnerabilities{{end}} from
    {{- if eq .AffectedModules 0}}{{else if eq .AffectedModules 1}} 1 module{{else}} {{template "Value" .AffectedModules}} modules{{end}}
    {{- if .StdlibAffected}}{{if ne .AffectedModules 0}} and{{end}} the Go standard library{{end}}.
  {{- end}}
  {{- "\n\n" -}}
{{- end}}{{/*VulnCount*/}}

{{- define "Informational" -}}
  {{- if len .Unaffected}}
    {{- "\n" -}}
    {{- template "Section" "=== Informational ===" -}}
    {{- "\n" -}}
    Found {{if eq (len .Unaffected) 1}}1 vulnerability{{else}}{{len .Unaffected}} vulnerabilities{{end}} in packages that you import, but there are no call{{- "\n" -}}
    stacks leading to the use of {{if eq (len .Unaffected) 1}}this vulnerability{{else}}these vulnerabilities{{end}}. You may not need to{{- "\n" -}}
    take any action. See https://pkg.go.dev/golang.org/x/vuln/cmd/govulncheck{{- "\n" -}}
    for details.{{- "\n" -}}
    {{- "\n" -}}
  {{- end -}}
{{- end}}{{/*Informational*/}}

{{- define "Vulnerability" -}}
  {{- if len . -}}
    {{- range $idx, $vulnInfo := .}}
      {{- if ne $idx 0}}{{- "\n" -}}{{- end -}}
      {{- template "Key" "Vulnerability"}} #{{inc $idx}}: {{block "OSV" $vulnInfo}}{{.OSV}}{{end}}{{- "\n" -}}
      {{- block "Details" $vulnInfo.Details}}{{wrap "    " . 80}}{{end}}{{- "\n" -}}
      {{- "  "}}{{- template "Key" "More info:"}} {{$vulnInfo.URL}}{{- "\n" -}}
      {{- range $index, $modInfo := $vulnInfo.Modules}}
        {{- if ne $index 0}}{{- "\n" -}}{{- end -}}
        {{- if $modInfo.IsStd -}}
          {{- "  "}}Standard library{{- "\n" -}}
        {{- else}}
          {{- "  "}}{{- template "Key" "Module:"}} {{$modInfo.Module}}{{- "\n" -}}
        {{- end}}
        {{- "    "}}{{- template "Key" "Found in:"}} {{$modInfo.FoundVersion}}{{- "\n" -}}
        {{- "    "}}{{- template "Key" "Fixed in:"}} {{if $modInfo.FixedVersion}}{{$modInfo.FixedVersion}}{{else}}N/A{{end}}{{- "\n" -}}
        {{- if $modInfo.Platforms}}
            {{- "    "}}{{- template "Key" "Platforms:"}} {{template "Platforms" $modInfo.Platforms}}{{- "\n" -}}
        {{- end}}
        {{- template "Traces" $modInfo.Traces}}
      {{- end}}
    {{- end -}}
  {{- end -}}
{{- end -}}{{/*Vulnerability*/}}

{{- define "Platforms" -}}
  {{$sep := ""}}{{range .}}{{$sep}}{{.}}{{$sep = ", "}}{{end}}
{{- end}}{{/*Platforms*/}}

{{- define "Traces" -}}
  {{- if len .}}
    {{- "    "}}{{- template "Key" "Call stacks in your code:"}}{{- "\n" -}}
    {{- range $entry := .}}
      {{- "      "}}{{$entry.Compact}}{{- "\n" -}}
    {{- end}}
  {{- end -}}
{{- end}}{{/*Traces*/}}

{{define "Section"}}{{.}}{{"\n"}}{{end}}
{{define "Key"}}{{.}}{{end}}
{{define "Value"}}{{.}}{{end}}