{{- /*
This template is a text template used to print out vulncheck output.
It consists of three sections showing:
1) The number of vulnerabilities detected.
2) Callstacks detected for each pair of module and vulnerability.
3) Vulnerabilities that are only imported but not called.
*/ -}}
{{- template "VulnCount" . -}}
{{- template "Affected" . -}}
{{- template "Informational" . -}}
{{/* This is the end of the main template */ -}}

{{- define "VulnCount" -}}
{{if eq (len .Affected) 0 -}}
No vulnerabilities found.
{{else -}}
Your code is affected by {{len .Affected}} {{pluralize (len .Affected) "vulnerability"}} from
{{- if .AffectedModules}} {{.AffectedModules}} {{pluralize .AffectedModules "module"}}{{end}}
{{- if .StdlibAffected}}{{if .AffectedModules}} and{{end}} the Go standard library{{end}}.
{{end}}
{{- end -}}

{{- define "Affected" -}}
{{- if .Affected -}}
{{- $idx := 0 -}}
{{- range $vulnInfo := .Affected -}}
{{- $idx = inc $idx}}
Vulnerability #{{$idx}}: {{$vulnInfo.ID}}
{{wrap $vulnInfo.Details | indent 2}}

  More info: https://pkg.go.dev/vuln/{{$vulnInfo.ID}}
{{range $modInfo := $vulnInfo.Modules}}
{{- if $modInfo.IsStd}}
  Standard library
{{- else}}
  Module: {{$modInfo.Module}}
{{- end}}
    Found in: {{$modInfo.Found}}
    Fixed in: {{if $modInfo.Fixed}}{{$modInfo.Fixed}}{{else}}N/A{{end}}
{{- if $modInfo.Platforms}}
    Platforms: {{commaseparate $modInfo.Platforms}}
{{- end}}
{{if $modInfo.Stacks}}
    Call stacks in your code:
{{indent 6 $modInfo.Stacks}}{{end}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}

{{- define "Informational" -}}
{{if .Unaffected}}
=== Informational ===

Found {{len .Unaffected}} {{pluralize (len .Unaffected) "vulnerability"}} in packages that you import, but there are no call
stacks leading to the use of {{if eq (len .Unaffected) 1}}this vulnerability{{else}}these vulnerabilities{{end}}. You may not need to
take any action. See https://pkg.go.dev/golang.org/x/vuln/cmd/govulncheck
for details.
{{$idx := 0}}{{range $vulnInfo := .Unaffected}}
{{- $idx = inc $idx}}
Vulnerability #{{$idx}}: {{$vulnInfo.ID}}{{$modInfo:= index $vulnInfo.Modules 0}}
{{wrap $vulnInfo.Details | indent 2}}
  More info: https://pkg.go.dev/vuln/{{$vulnInfo.ID}}
  Found in: {{$modInfo.Found}}
  Fixed in: {{if $modInfo.Fixed}}{{$modInfo.Fixed}}{{else}}N/A{{end}}
  {{- if $modInfo.Platforms}}
  Platforms: {{commaseparate $modInfo.Platforms}}{{end}}
{{end}}
{{- end -}}
{{- end -}}
