{{- /*
This template is a text template used to print out vulncheck output.
It consists of three sections showing:
1) The number of vulnerabilities detected.
2) Callstacks detected for each pair of module and vulnerability.
3) Vulnerabilities that are only imported but not called.
*/ -}}
{{- template "VulnCount" . -}}
{{- template "Affected" . -}}
{{- template "Informational" . -}}
{{/* This is the end of the main template */ -}}

{{- define "VulnCount" -}}
{{if eq .AffectedCount 0}}No vulnerabilities found.
{{else}}Your code is affected by
{{- if eq .AffectedCount 1}} 1 vulnerability{{else}} {{.AffectedCount}} vulnerabilities{{end}} from
{{- if eq .AffectedModules 1}} 1 module{{else if gt .AffectedModules 1}} {{.AffectedModules}} modules{{else}} {{end}}
{{- if .StdlibAffected}}{{if .AffectedModules}} and {{end}}the Go standard library{{end}}.
{{end}}
{{- end -}}

{{- define "Affected" -}}
{{- if .AffectedCount -}}
{{$idx := 0}}{{range $vulnInfo := .Vulns}}
{{- if not $vulnInfo.Affected}}{{continue}}{{end}}
{{- $idx = inc $idx}}
Vulnerability #{{$idx}}: {{$vulnInfo.ID}}
{{wrap $vulnInfo.Details | indent 2}}

  More info: https://pkg.go.dev/vuln/{{$vulnInfo.ID}}
{{range $modInfo := $vulnInfo.Modules}}
{{- if $modInfo.IsStd}}
  Standard library
{{- else}}
  Module: {{$modInfo.Module}}
{{- end}}
    Found in: {{$modInfo.Found}}
    Fixed in: {{if $modInfo.Fixed}}{{$modInfo.Fixed}}{{else}}N/A{{end}}
{{- if $modInfo.Platforms}}
    Platforms: {{template "Platforms" $modInfo.Platforms}}
{{- end}}
{{if $modInfo.Stacks}}
    Call stacks in your code:
{{indent 6 $modInfo.Stacks}}{{end}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}

{{- define "Informational" -}}
{{if .UnaffectedCount}}
=== Informational ===

Found {{if eq .UnaffectedCount 1}}1 vulnerability{{else}}{{.UnaffectedCount}} vulnerabilities{{end}} in packages that you import, but there are no call
stacks leading to the use of {{if eq .UnaffectedCount 1}}this vulnerability{{else}}these vulnerabilities{{end}}. You may not need to
take any action. See https://pkg.go.dev/golang.org/x/vuln/cmd/govulncheck
for details.
{{$idx := 0}}{{range $vulnInfo := .Vulns}}
{{- if $vulnInfo.Affected}}{{continue}}{{end}}
{{- $idx = inc $idx}}
Vulnerability #{{$idx}}: {{$vulnInfo.ID}}{{$modInfo:= index $vulnInfo.Modules 0}}
{{wrap $vulnInfo.Details | indent 2}}
  More info: https://pkg.go.dev/vuln/{{$vulnInfo.ID}}
  Found in: {{$modInfo.Found}}
  Fixed in: {{if $modInfo.Fixed}}{{$modInfo.Fixed}}{{else}}N/A{{end}}
  {{- if $modInfo.Platforms}}
  Platforms: {{template "Platforms" $modInfo.Platforms}}{{end}}
{{end}}
{{- end -}}
{{- end -}}

{{- define "Platforms" -}}
  {{$sep := ""}}{{range .}}{{$sep}}{{.}}{{$sep = ", "}}{{end}}
{{- end -}}
