{{- /*
This template is a has overrides used when printing in verbose mode.
*/ -}}

{{- define "Traces" -}}
{{$count:=0}}{{range .}}{{$count = inc $count}}{{end}}
{{- if $count}}
    Call stacks in your code:
{{$index := 1}}{{range .}}      #{{$index}}: for function {{.Symbol}}
{{- range .Trace}}
        {{if .Position}}{{.Position}}: {{end}}{{.Name}}{{end}}
{{$index = inc 1}}{{end}}
{{- end -}}
{{- end -}}
