{{- /*
This template is a has overrides used when printing in verbose mode.
*/ -}}

{{- define "Trace" -}}
  for function {{.Symbol}}
  {{- range .Trace}}
    {{- "\n        "}}{{- if .Position}}{{.Position}}: {{end}}{{.Symbol}}
  {{- end -}}
{{- end}}{{/*Trace*/}}
